@CHARSET "ISO-8859-1";

* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #ddd;
	width: 100%
}

form {
	width: 450px;
	margin: 0 auto; /*centrado de manera horizontal */
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 50px;
	border: 1px solid #4e4d4d;
	border-radius: 20px;
}

input {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}

label {
	font-size: 17px;
}

.btn {
	background-color: #1883ba;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px;
	font-weight: 600;
	color: white;
	width: 45%;
	font-size: 17px;
	/*margin:30px 30px 30px 250px;*/
}

.btn {
	cursor: pointer;
}

form#btn_agregar {
	/*margin-left: 65%*/
	float: right;
}

form#btn_cancelar {
	float: left;
}

h2 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: "Arial";
}

@media ( max-width :480px) {
	form {
		width: 100%;
	}
	.btn {
		width: 45%;
		font-size: 11px;
	}
}
}