@CHARSET "ISO-8859-1";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#tabla {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
}

table tr {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 35em;
}

table th, table td {
	padding: .625em;
	text-align: center;
}

table th {
	font-size: .85em;
}

span.icon-sort-alt-up {
	float: right;
}

span.icon-sort-alt-down {
	float: right;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
	caption-side: top;
}

/*BOTONES TABLA DE CLIENTES */
div#botones {
	margin-top: 100px;
	width: 100%;
	height: 50px;
}

#botones a {
	text-decoration: none;
	background-color: #1883ba;
	padding: 10px;
	color: #fff;
	border-radius: 20px;
}

#exportar_btn {
	float: right;
	margin-right: 20px;
}

#agregar_btn {
	margin-left: 20px;
	float: left;
}

#buscador {
	width: 100%;
	/* float: right; */
}

#buscador input {
	width: 20%;
	float: right;
	margin-right: 20px;
}

#buscador span {
	margin-left: 76%;
}

#selectPag {
	margin-left: 20px;
}

div #selectPag select {
	font-size: 16px;
}

.paginacion {
	width: 100%;
}

ul.paginacion {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.paginacion li {
	display: inline;
}

ul.paginacion li a {
	color: black;
	float: right;
	padding: 8px 16px;
	text-decoration: none;
}

.paginacion a {
	border: 1px solid #808080; /* Gray */
}

.paginacion a.activo {
	background-color: #4CAF50;
	color: white;
}

.paginacion a.disabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
	pointer-events: none;
}

.mostrar {
	display: block;
}

.ocultar {
	display: none;
}

.paginacion a:hover:not (.activo ) {
	background-color: #808080;
}

@media screen and (max-width: 639px) {
	table caption {
		font-size: 1.3em;
	}
	table {
		border: 0px;
	}
	table thead {
		display: none;
	}
	table tr {
		border-bottom: 3px solid #ddd;
		/*display:block;*/
		margin-bottom: .625em;
	}
	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: right;
	}
	table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table td:last-child {
		border-bottom: 0;
	}
	
	#primero, #ultimo,#agregar,#volver{
	display:none;}
}